body {
    margin: auto 0;
    font-family: fantasy;
}
.zone {
    color: white;
    font-size: 2em;
}


/** NAV**/

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    margin: 0;
    background-color: #FF6600;
    padding: 20px;
}


.cartIcon {
    margin-left: auto;
}

li {
    padding: 20px;
}


/* Carousel */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #ffe6e6);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
  }
  
  #carousel__slide1 {
    /* background-color: #99f; */
    background-image: url(./img/menu1.jpeg);
  }

  #carousel__slide2 {
    /* background-color: #99f; */
    background-image: url(./img/menu2.jpeg);
  }

  #carousel__slide3 {
    /* background-color: #99f; */
    background-image: url(./img/menu3.jpeg);
  }

  
  .carousel__slide:before {
    /* content: counter(item); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    /* color: #fff; */
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }

  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }

  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  /* arrow button */
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }


  /* Menu */
  .flex-container {
      display: flex;
      flex-wrap: wrap;
      height: 50px;
  }

  h1, h2 {
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}


.box, p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box > h1 {
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: indigo;
}

.box > p {
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: indigo;

}

.box button, .checkout button {
  background-color: #f1842a;
  border: 1px solid yellow;
  border-radius: 1px;
  color: white;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
}
.insideModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: center;
}
.cartList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.cartList h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: indigo;
  font-size: xx-small;
}

.cartList h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: indigo;
  font-size: x-small;
}


.exit {
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-top: 0;
}

.exit:hover {
  color: #000;
  cursor: pointer;
}





  




